header#system
    .inside
        .pull-left
            .brand
                img(src="/img/logo_plain.png")
        .pull-right
            h1
                | Q -
                span SMS
        .clear